body
{
    font-family: Arial, sans-serif;
    background-color: #aad9f0;
    margin: 0;
    padding: 40px;
}
.container
{
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2
{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
input[type="text"], select
{
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #dcc1c1;
    border-radius: 4px;
    box-sizing: border-box;
}
.subject-list label
{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
.total-box
{
    background: #5a8189;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    
}
button
{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
